<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Torque Demo OSX</string>
	<key>CFBundleGetInfoString</key>
	<string>©2001 Garage Games.  Portions ©2001 Sierra Online, Inc.</string>
	<key>CFBundleIconFile</key>
	<string>torqueDemo.icns</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Torque Demo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>©2001 Garage Games.  Portions ©2001 Sierra Online, Inc.</string>
	<key>CFBundleSignature</key>
	<string>GGTe</string>
	<key>CFBundleVersion</key>
	<string>0.6.1d1</string>
</dict>
</plist>
